* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    margin: 0 auto;
    max-width: 1200px;
    display: block;
    align-items: center;
    justify-content: center;
}

h1 {
    color: red;
}

h2 {
    color: blue;
    background-color: tomato;
}

p {
    font-size: 20px;
    color: green;
}

footer p {
    color: yellow;
}
